*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    list-style:none;
    text-decoration:none;
}
html{
    font-size:62.5%;
}
.header{
    background-color:black;
    height:6rem;
    
 
}
.header-wrapper{
    display:flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
.main-list{
    display:flex;  
}
.list-data{
    padding:4rem;
  justify-content: space-between;
  font-size:2rem;
  text-align: center;
  align-items: center;
}

.list-link{
    padding:10rem;
    color: aliceblue;
    
}
.list-link:hover{
    background-color:orangered;
}
.banner-section{
    position: relative;
    text-align: center;
    color: white;
}
.banner-image{
    display:flex;
    overflow: hidden;
    width:100%;
    height:100%;
}
.top-section{
    display:flex;
    justify-content: center;
}
.section-wrapper{
    position: absolute;
    max-width: 1199px; 
    margin: 0 auto;
    
}
.heading{
    position: absolute;
    top: -10%;
    left: -10%;
    transform: translate(-50%, -50%);
    font-size:3rem;
   
}